  *{ margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html , body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  background-color: black;
  color : white;
}
.navbar{
  background-color: black;
  height : 20vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px;
  border-bottom : 5px solid #FF0000;
  flex-wrap: wrap;
  position: sticky;
  left : 0;
  width : 100%;
}
.logo{
  background-image: url("images/bakerylogo1.png");
  background-size: cover;
  width : 15vmin;
  height : 15vmin;
}
.navoptions{
  font-weight: bolder;
  font-size: 1.3rem;
}
.navoptions ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navoptions ul li{
 margin-left: 6vmin;
 position: relative;
 cursor: pointer;
}
#cup{
  color : red;
  text-shadow: 4px 2px 2px red;
}
.navoptions ul a{
  text-decoration: none;
  color : white;
  transition: 2s ease-in-out 0s;
}
.navoptions ul a:active{
  color: red;
}
.navoptions ul a:hover{
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-thickness:10px;
}
.navicons{
  display: flex;
}


.search-icon{
  font-size : 3rem;
  margin-right: 5vmin;
  color : white;
  transition: 3s ease-out 0s;
}
.search-icon:hover{
  color : red;
  text-shadow: 3px 3px 3px red;
  border : 3px solid white;
  padding: 3px;
}
.cart-icon{
  font-size: 3rem;
  color : white;
  transition: 3s ease-out 0s;
}
.cart-icon:hover{
  color : red;
  text-shadow: 3px 3px 3px red;
  border : 3px solid white;
  padding: 3px;
}
#option-nav{
  font-size : 1.3rem;
  background: transparent;
  color : white;
  font-weight: bolder;
  border: none;
  background-color: red;
}
 
  .first-secondportion{
   height : 100%; 
   display: flex;
} 
.input{
  height : 8vmin;
  width : 50vmin;
  margin-top: 3vmin;
  color : white;
  background : linear-gradient(135deg , rgba(255,255,255,0.1) ,rgba(255,255,255,0));
  border-radius: 20px;
  border: 1 px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  padding: 15px;
  font-size: 1.1rem;
  margin-left: 15vmin;
}
.input::placeholder{
  font-size: 1.3rem;
  font-weight: bolder;
  text-align:start;
}
.content{
  width : 40%;
  height : 550px;
 margin-left: 5vmin;
}
.head{
  font-size: 3rem;
  text-align: center;
  position: relative;
  top : 30px;
  overflow: auto;
  margin-bottom: 10vmin;
  font-weight: bolder;
}
.content1{
  font-size: 1.1rem;
  text-align: center;
  position: relative;
  top : 5px;
  overflow: auto;
  word-spacing: 10px;
}

.main-img{
   height : 550px;
   width : 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-img .img{
  background-image: url("images/finalcake.png");
  background-size: cover;
  width : 400px;
  height :400px;
  animation: moveimg 20s ease-in-out 0s infinite normal;
  border: none;
}
@keyframes moveimg{
  from{
    transform:  rotate(0deg);
      
  }
  to{
    transform:  rotate(360deg);
  }
}

.cart{

  font-size : 1.3rem;
  width : 16vw;
  border: 5px solid red;
  background-color: white;
  color : black;
  font-weight: bolder;
  margin-top: 3vmin;
  margin-right: 2vmin; 
   right: 100px;
  display: grid;
  justify-content: center;
  
}
#order-btn{
  height : 10vmin;
  width : 20vmin;
  background : linear-gradient(#ace67d,rgb(160, 228, 235));
  border-radius: 2vmin;
  font-weight: bolder;
  font-size: 1.3rem;
  color  :red;
  position: relative;
  left : 180px;
  margin : 50px;
}
#order-btn:hover{
    padding: 0px 30vmin 0px 30vmin;
}
.cart div{
  /* margin-bottom: 1vmin; */
  text-align: center;
  font-weight: bolder;
}

.cart span{
  display: flex;
  justify-content: center;
  background-color: red;
  
}
#silk{
  position: relative;
  top: 12px;
}
#pastry{
  position: relative;
  top: 22px;
}
#choco{
  position: relative;
  top:22px;
}
#cake1{
  position: relative;
  top: 26px;
}
.plus{
  font-size: 1rem;
}
#btn-cart{
  margin: 2vmin;
  background: transparent;
  font-size: 1rem;
  height : 4vmin; 
  width : 20vmin; 
  text-align: center;
}

.hide{
  display: none;
}
#btn-cart{
  background: linear-gradient(red,black);
  color: white;
  border-radius: 2px;
}   


#textreg{
  text-align: center;
  color : white;
  font-size: 4rem;
  text-shadow: 5px 5px 5px white;
  margin: 5vmin;
}
.regform{
  height : 80vh;
  background-color: black;


}
.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 5vmin;
  flex-wrap: wrap;
  max-width : 1200px;
  margin: auto;
}
.inputlogin{
  width : 70vmin;
 /* width : 200px; */
 flex-grow: 1;
 background: transparent;
 padding: 3vmin;
 border: none;
 border-bottom: 2px solid white;;
}
.inputlogin::placeholder{
   font-size: 1.5rem;
   font-weight: bolder;
   color : red;
}
.input-field i{
  color : white;
}
.passlogin{
  width : 70vmin;
 flex-grow: 1;
 background: transparent;
 padding: 3vmin;
 border: none;
 border-bottom: 2px solid white;
}
.passlogin::placeholder{
   font-size: 1.5rem;
   font-weight: bolder;
   color : red;
}
label{
  color : white;
  font-size: 1.2rem;;
}
#btn{
  width : 100%;
  height : 45px;
 }
 #btn:hover{
  background-color: #f70776;
  color : black;
  box-shadow: 10px 4px 4px #f70776;
 }
 